body {
    background-color: whitesmoke;
}

h1 {
    border-radius: 20px;
    color: black;
    background-color: cornflowerblue;
    border: 1px solid black;
    text-align: center;
    font-family: Arial Black, Arial Bold, sans-serif;
}

.introducao {
    color: black;
    text-align: center;
    font-family: Arial Black, Arial Bold, sans-serif;
}

.imagem {
    text-align: center;
}

.controladorPagina {
    text-align: center;
}

.retorna {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: cornflowerblue;
    font-size: 20px;
    font-family: Arial Black, Arial Bold, sans-serif;
}

.avanca {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: cornflowerblue;
    font-size: 20px;
    font-family: Arial Black, Arial Bold, sans-serif;
}

.paginacao {
    text-align: center;
    font-size: 20px;
    font-family: Arial Black, Arial Bold, sans-serif;
}

.creditos{
text-align: center;
    font-size: 10px;
    font-family: Arial Black, Arial Bold, sans-serif;
}